body{
    font-family:  'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgba(235, 160, 183, 0.116);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

form {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(240, 193, 215);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 40px;
}

fieldset {
    border: 2px solid #f0d2e7;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(233, 222, 233);

}

legend{
     font-weight: bold;
    text-align: left;
    color: #1b181a;
}

label{
    display: block;
    margin-top: 10px;
    color: #dd0e53;

}

input, textarea {
    width: calc(100% -1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #f57eb9;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(189, 161, 177);
    color: rgb(0, 0, 0);
    border: none;
    border-radius : 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

button :hover{
    background-color: #ec0f76
}
#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #343434;
    border-radius: 8px;
    background-color: rgb(240, 193, 215); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) ;

}

#resumeOutput h2{
    color: #2c3e50;
}